.container{
  width: 40%;
  height: 20vh;
  border-collapse: collapse;
    padding: 10px;
    margin: 5px;
    margin-left: 30%;
text-align: center; 
background-color: rgb(136, 219, 219);
border: 1px solid black;
}
h4{
    margin-left: 30%;
}
.item{
     padding: 3px;
     margin-top: 5px;
     background-color: green;
     color: white;

}
.cart{
    display: flex;
    justify-content: space-around;
}
h1{
  margin-left: 30%;
}
button{
  background-color: green;
  color: white;
  width: 100px;
  height: 30px;
}